asgiref==3.4.1
astroid==2.8.4
attrs==21.2.0
Automat==20.2.0
boto3==1.20.21
botocore==1.23.21
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
constantly==15.1.0
cryptography==36.0.0
cssselect==1.1.0
deepdiff==5.6.0
dill==0.3.2
distlib==0.3.6
dj-database-url==0.5.0
Django==4.0
django-cors-headers==3.11.0
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.13.1
dnslib==0.9.16
dnspython==2.1.0
docker==5.0.0
dulwich==0.20.26
filelock==3.9.0
greenlet==2.0.2
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==5.10.1
itemadapter==0.4.0
itemloaders==1.0.4
jmespath==0.10.0
lazy-object-proxy==1.6.0
localstack==0.13.0.11
localstack-client==1.28
localstack-ext==0.13.0.22
localstack-plugin-loader==1.1.1
lxml==4.6.4
mccabe==0.6.1
numpy==1.24.1
ordered-set==4.0.2
pandas==1.5.3
parsel==1.6.0
pbr==5.8.0
pika==1.2.0
platformdirs==2.4.0
priority==1.3.0
Protego==0.1.16
psutil==5.8.0
psycopg2==2.9.3
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
Pygments==2.10.0
pylint==2.11.1
pyOpenSSL==21.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
queuelib==1.6.2
requests==2.25.1
rich==10.15.2
s3transfer==0.5.0
Scrapy==2.5.1
semver==2.13.0
service-identity==21.1.0
six==1.16.0
SQLAlchemy==2.0.1
sqlparse==0.4.2
stevedore==3.5.0
tabulate==0.8.9
tailer==0.4.1
toml==0.10.2
Twisted==21.7.0
typing_extensions==4.4.0
urllib3==1.26.7
virtualenv==20.17.1
w3lib==1.22.0
websocket-client==1.2.3
whitenoise==6.0.0
wrapt==1.13.3
zope.interface==5.4.0
